<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ personagem.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="img" [src]="personagem.image">
  <mat-card-content>
    <mat-card-subtitle>Alternate Names: {{ personagem.alternate_names }}</mat-card-subtitle>
    <mat-card-subtitle>Species: {{ personagem.species }}</mat-card-subtitle>
    <mat-card-subtitle>Gender: {{ personagem.gender }}</mat-card-subtitle>
    <mat-card-subtitle>House: {{ personagem.house }}</mat-card-subtitle>
    <mat-card-subtitle>Date of Birth: {{ personagem.dateOfBirth }}</mat-card-subtitle>
    <mat-card-subtitle>Year of Birth: {{ personagem.yearOfBirth }}</mat-card-subtitle>
    <mat-card-subtitle>Wizard: {{ personagem.wizard }}</mat-card-subtitle>
    <mat-card-subtitle>Ancestry: {{ personagem.ancestry }}</mat-card-subtitle>
    <mat-card-subtitle>Eye Colour: {{ personagem.eyeColour }}</mat-card-subtitle>
    <mat-card-subtitle>Hair Colour: {{ personagem.hairColour }}</mat-card-subtitle>
    <mat-card-subtitle>Patronus: {{ personagem.patronus }}</mat-card-subtitle>
    <mat-card-subtitle>Hogwarts Student: {{ personagem.hogwartsStudent }}</mat-card-subtitle>
    <mat-card-subtitle>Hogwarts Staff: {{ personagem.hogwartsStaff }}</mat-card-subtitle>
    <mat-card-subtitle>Actor: {{ personagem.actor }}</mat-card-subtitle>
    <mat-card-subtitle>Alternate Actors: {{ personagem.alternate_actors }}</mat-card-subtitle>
    <mat-card-subtitle>Alive: {{ personagem.alive }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
