<img class="img" [src]="personagem.image">

<p>Name: {{ personagem.name }}</p>
<p>Alternate Names: {{ personagem.alternate_names }}</p>
<p>Species: {{ personagem.species }}</p>
<p>Gender: {{ personagem.gender }}</p>
<p>House: {{ personagem.house }}</p>
<p>Date of Birth: {{ personagem.dateOfBirth }}</p>
<p>Year of Birth: {{ personagem.yearOfBirth }}</p>
<p>Wizard: {{ personagem.wizard }}</p>
<p>Ancestry: {{ personagem.ancestry }}</p>
<p>Eye Colour: {{ personagem.eyeColour }}</p>
<p>Hair Colour: {{ personagem.hairColour }}</p>
<p>Patronus: {{ personagem.patronus }}</p>
<p>Hogwarts Student: {{ personagem.hogwartsStudent }}</p>
<p>Hogwarts Staff: {{ personagem.hogwartsStaff }}</p>
<p>Actor: {{ personagem.actor }}</p>
<p>Alternate Actors: {{ personagem.alternate_actors }}</p>
<p>Alive: {{ personagem.alive }}</p>

