.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  background-color: #7d66089d;

}
.mat-card-subtitle {
  margin-top: 5px;
  font-weight: bold;
  color: #f1c40e;
}


.img{
  width: 50%;
  height: 50%;
}
