<h1 class="gryffindor">Gryffindor</h1>
<div class="image-container">
  <div *ngFor="let item of listaG$.slice(0, 4)">
    <mat-card class="example-card">
      <img class="img" [src]="item.image" />
      <mat-card-header>
        <mat-card-title class="nome">{{ item.name }}</mat-card-title>
        <mat-card-subtitle
          ><strong> Casa: {{ item.house }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Bruxo: {{ item.wizard }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Ancestrais: {{ item.ancestry }}</strong></mat-card-subtitle
        >
      </mat-card-header>
      <button mat-button [routerLink]="['/detalhe-personagem', item]">
        Informações
      </button>
    </mat-card>
  </div>
</div>

<h1 class="slytherin">Slytherin</h1>
<div class="image-container">
  <div *ngFor="let item of listaS$.slice(0, 4)">
    <mat-card class="example-card">
      <img class="img" [src]="item.image" />
      <mat-card-header>
        <mat-card-title class="nome">{{ item.name }}</mat-card-title>
        <mat-card-subtitle
          ><strong> Casa: {{ item.house }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Bruxo: {{ item.wizard }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Ancestrais: {{ item.ancestry }}</strong></mat-card-subtitle
        >
      </mat-card-header>
      <button mat-button [routerLink]="['/detalhe-personagem', item]">
        Informações
      </button>
    </mat-card>
  </div>
</div>

<h1 class="ravenclaw">Ravenclaw</h1>
<div class="image-container">
  <div *ngFor="let item of listaR$.slice(0, 4)">
    <mat-card class="example-card">
      <img class="img" [src]="item.image" />
      <mat-card-header>
        <mat-card-title class="nome">{{ item.name }}</mat-card-title>
        <mat-card-subtitle
          ><strong> Casa: {{ item.house }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Bruxo: {{ item.wizard }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Ancestrais: {{ item.ancestry }}</strong></mat-card-subtitle
        >
      </mat-card-header>
      <button mat-button [routerLink]="['/detalhe-personagem', item]">
        Informações
      </button>
    </mat-card>
  </div>
</div>

<h1 class="hufflepuff">Hufflepuff</h1>
<div class="image-container">
  <div *ngFor="let item of listaH$.slice(0, 4)">
    <mat-card class="example-card">
      <img class="img" [src]="item.image" />
      <mat-card-header>
        <mat-card-title class="nome">{{ item.name }}</mat-card-title>
        <mat-card-subtitle
          ><strong> Casa: {{ item.house }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Bruxo: {{ item.wizard }}</strong></mat-card-subtitle
        >
        <mat-card-subtitle
          ><strong> Ancestrais: {{ item.ancestry }}</strong></mat-card-subtitle
        >
      </mat-card-header>
      <button mat-button [routerLink]="['/detalhe-personagem', item]">
        Informações
      </button>
    </mat-card>
  </div>
</div>
